<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    @RenderSection("css", required: false)
</head>
<body style="background-color: darkgrey;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Internship Finder", "Index", "Estagios", null, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Procurar", "Procurar", "Estagios")</li>
                <li>@Html.ActionLink("Inserir", "Inserir", "Estagios")</li>
            </ul>
            <!--
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
            -->
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <hr />

        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Internship Finder</p>
        </footer>
    </div>

    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    <script type="text/javascript" src="~/Scripts/respond.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
